@import "tailwindcss";

@theme {
  --color-redsac: #f75e63;
  --color-bluesac: #42cdff;
  --color-greensac: #c5f06f;
  --color-yellowsac: #ffdf62;
  --color-whitesac: #faf4f4;
  --color-blacksac: #121215;
  --color-constrastwhitesac: #ffffff;
  --color-constrastblacksac: #000000;

  --grid-rows-28: repeat(26, minmax(10%, 600px));
  --grid-rows-14: repeat(14, minmax(0, 1fr));
  --row-span-14: span 14 / span 14;

  --animate-spining: spin 1s ease-in-out;
  --animate-negSpining: spinNeg 1s ease-in-out;

  @keyframes spinNeg {
    to {
      transform: rotateX(-90deg);
    }
  }

  @keyframes spin {
    to {
      transform: rotateX(90deg);
    }
  }
}

#schedule-scroll::-webkit-scrollbar {
  background-color: white;
}

#schedule-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #121215;
}

#schedule-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(247, 94, 99);
  background: linear-gradient(
    90deg,
    rgba(247, 94, 99, 1) 25%,
    rgba(66, 205, 255, 1) 25%,
    rgba(66, 205, 255, 1) 50%,
    rgba(197, 240, 111, 1) 50%,
    rgba(214, 235, 107, 1) 75%,
    rgba(255, 223, 98, 1) 75%,
    rgba(255, 223, 98, 1) 100%
  );
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Cera Pro", sans-serif;
}
