@import "tailwindcss";

@theme {
    --color-redsac: #F75E63;
    --color-bluesac: #42CDFF;
    --color-greensac: #C5F06F;
    --color-yellowsac: #FFDF62;
    --color-whitesac: #FAF4F4;
    --color-blacksac: #121215;
    --color-constrastwhitesac: #FFFFFF;
    --color-constrastblacksac: #000000;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/Cerapro Thin Demo.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Cera Pro', sans-serif;
  }