@import "tailwindcss";

@theme {
    --color-redsac: #F75E63;
    --color-bluesac: #42CDFF;
    --color-greensac: #C5F06F;
    --color-yellowsac: #FFDF62;
    --color-whitesac: #FAF4F4;
    --color-blacksac: #121215;
    --color-constrastwhitesac: #FFFFFF;
    --color-constrastblacksac: #000000;

    --grid-rows-28: repeat(26, minmax(10%, 600px));
    --grid-rows-14: repeat(14, minmax(0, 1fr));
    --row-span-14: span 14 / span 14;

    --animate-spining: spin 1s ease-in-out;
    --animate-negSpining: spinNeg 1s ease-in-out;

    @keyframes spinNeg {
        to {
          transform: rotateX(-90deg);
        }
    }

    @keyframes spin {
        to {
          transform: rotateX(90deg);
        }
    }
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {

  font-family: "Cera Pro", sans-serif;
}