/*
* Uncomment the following line to use the Inter font when not working on a Next.js project.
* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* Then replace var(--font-inter) to Inter
*/

@import "tailwindcss";
@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-react-aria-components';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Geist Mono", 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', '"Liberation Mono"', '"Courier New"', 'monospace';

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* SAC Colors */
  --color-redsac: #F75E63;
  --color-bluesac: #42CDFF;
  --color-greensac: #C5F06F;
  --color-yellowsac: #FFDF62;
  --color-whitesac: #FAF4F4;
  --color-blacksac: #121215;
  --color-constrastwhitesac: #FFFFFF;
  --color-constrastblacksac: #000000;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    /* background: hsl(0, 0%, 85%); */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(66,205,255);
    background: linear-gradient(0deg, rgba(66,205,255,1) 0%, rgba(197,240,111,1) 33%, rgba(255,223,98,1) 66%, rgba(247,94,99,1) 100%);
  }

  .grid-template-stack {
    grid-template-areas: stack;
  }

  .grid-area-stack {
    grid-area: stack;
  }
}

@layer base {
  :root {
    --bg: var(--color-white);
    --fg: var(--color-zinc-950);

    --primary: var(--color-blue-600);
    --primary-fg: var(--color-white);

    --secondary: var(--color-zinc-100);
    --secondary-fg: var(--color-zinc-950);

    --overlay: var(--color-white);
    --overlay-fg: var(--color-zinc-950);

    --accent: var(--color-blue-600);
    --accent-fg: var(--color-white);

    --muted: var(--color-zinc-100);
    --muted-fg: var(--color-zinc-600);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-white);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-950);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-50);

    --border: var(--color-zinc-200);
    --input: var(--color-zinc-300);
    --ring: var(--color-blue-600);

    --navbar: var(--color-zinc-50);
    --navbar-fg: var(--color-zinc-950);

    --sidebar: var(--color-zinc-50);
    --sidebar-fg: var(--color-zinc-950);

    --chart-1: var(--color-blue-600);
    --chart-2: var(--color-blue-400);
    --chart-3: var(--color-blue-300);
    --chart-4: var(--color-blue-200);
    --chart-5: var(--color-blue-100);

    --radius-lg: 0.5rem;
    --radius-xs: calc(var(--radius-lg) * 0.5);
    --radius-sm: calc(var(--radius-lg) * 0.75);
    --radius-md: calc(var(--radius-lg) * 0.9);
    --radius-xl: calc(var(--radius-lg) * 1.25);
    --radius-2xl: calc(var(--radius-lg) * 1.5);
    --radius-3xl: calc(var(--radius-lg) * 2);
    --radius-4xl: calc(var(--radius-lg) * 3);
  }

  .dark {
    --bg: var(--color-zinc-950);
    --fg: var(--color-zinc-50);

    --primary: var(--color-blue-600);
    --primary-fg: var(--color-white);

    --secondary: oklch(0.244 0.006 286.033);
    --secondary-fg: var(--color-zinc-50);

    --accent: var(--color-blue-600);
    --accent-fg: var(--color-white);

    --muted: var(--color-zinc-900);
    --muted-fg: var(--color-zinc-400);

    --overlay: oklch(0.170 0.006 285.885);
    --overlay-fg: var(--color-zinc-50);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-white);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-950);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-50);

    --border: oklch(0.270 0.013 285.805);
    --input: oklch(0.290 0.013 285.805);
    --ring: var(--color-blue-600);

    --navbar: oklch(0.170 0.006 285.885);
    --navbar-fg: var(--color-zinc-50);

    --sidebar: oklch(0.160 0.006 285.885);
    --sidebar-fg: var(--color-zinc-50);

    --chart-1: var(--color-blue-700);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-400);
    --chart-4: var(--color-blue-300);
    --chart-5: var(--color-blue-200);
  }
}

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}
  --grid-rows-28: repeat(26, minmax(10%, 600px));
  --grid-rows-14: repeat(14, minmax(0, 1fr));
  --row-span-14: span 14 / span 14;

  --animate-spining: spin 1s ease-in-out;
  --animate-negSpining: spinNeg 1s ease-in-out;

  @keyframes spinNeg {
    to {
      transform: rotateX(-90deg);
    }
  }

  @keyframes spin {
    to {
      transform: rotateX(90deg);
    }
  }
}

#schedule-scroll::-webkit-scrollbar {
  background-color: white;
}

#schedule-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #121215;
}

#schedule-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(247, 94, 99);
  background: linear-gradient(
    90deg,
    rgba(247, 94, 99, 1) 25%,
    rgba(66, 205, 255, 1) 25%,
    rgba(66, 205, 255, 1) 50%,
    rgba(197, 240, 111, 1) 50%,
    rgba(214, 235, 107, 1) 75%,
    rgba(255, 223, 98, 1) 75%,
    rgba(255, 223, 98, 1) 100%
  );
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/Fontspring-DEMO-cerapro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Cera Pro", sans-serif;
}
