/*
* Uncomment the following line to use the Inter font when not working on a Next.js project.
* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* Then replace var(--font-inter) to Inter
*/

@import "tailwindcss";

/*
---break---
*/

@custom-variant dark (&:is(.dark *));
@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-react-aria-components';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Geist Mono", "ui-monospace", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", '"Liberation Mono"', '"Courier New"', "monospace";

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --grid-rows-28: repeat(26, minmax(10%, 600px));
  --grid-rows-14: repeat(14, minmax(0, 1fr));
  --row-span-14: span 14 / span 14;

  /* SAC Colors */
  --color-redsac: #f75e63;
  --color-bluesac: #42cdff;
  --color-greensac: #c5f06f;
  --color-yellowsac: #ffdf62;
  --color-whitesac: #faf4f4;
  --color-blacksac: #121215;
  --color-constrastwhitesac: #ffffff;
  --color-constrastblacksac: #000000;
}

@layer utilities {
  .grid-template-stack {
    grid-template-areas: stack;
  }

  .grid-area-stack {
    grid-area: stack;
  }
  
  .loader {
    border: 3px solid white;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.8s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer base {
  :root {
    --bg: var(--color-white);
    --fg: var(--color-zinc-950);

    --primary: var(--color-blue-600);
    --primary-fg: var(--color-white);

    --secondary: var(--color-zinc-100);
    --secondary-fg: var(--color-zinc-950);

    --overlay: var(--color-white);
    --overlay-fg: var(--color-zinc-950);

    --accent: var(--color-blue-600);
    --accent-fg: var(--color-white);

    --muted: var(--color-zinc-100);
    --muted-fg: var(--color-zinc-600);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-white);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-950);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-50);

    --border: var(--color-zinc-200);
    --input: var(--color-zinc-300);
    --ring: var(--color-blue-600);

    --navbar: var(--color-zinc-50);
    --navbar-fg: var(--color-zinc-950);

    --sidebar: var(--color-zinc-50);
    --sidebar-fg: var(--color-zinc-950);

    --chart-1: var(--color-blue-600);
    --chart-2: var(--color-blue-400);
    --chart-3: var(--color-blue-300);
    --chart-4: var(--color-blue-200);
    --chart-5: var(--color-blue-100);

    --radius-lg: 0.5rem;
    --radius-xs: calc(var(--radius-lg) * 0.5);
    --radius-sm: calc(var(--radius-lg) * 0.75);
    --radius-md: calc(var(--radius-lg) * 0.9);
    --radius-xl: calc(var(--radius-lg) * 1.25);
    --radius-2xl: calc(var(--radius-lg) * 1.5);
    --radius-3xl: calc(var(--radius-lg) * 2);
    --radius-4xl: calc(var(--radius-lg) * 3);
  }

  .dark {
    --bg: var(--color-zinc-950);
    --fg: var(--color-zinc-50);

    --primary: var(--color-blue-600);
    --primary-fg: var(--color-white);

    --secondary: oklch(0.244 0.006 286.033);
    --secondary-fg: var(--color-zinc-50);

    --accent: var(--color-blue-600);
    --accent-fg: var(--color-white);

    --muted: var(--color-zinc-900);
    --muted-fg: var(--color-zinc-400);

    --overlay: oklch(0.17 0.006 285.885);
    --overlay-fg: var(--color-zinc-50);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-white);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-950);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-50);

    --border: oklch(0.27 0.013 285.805);
    --input: oklch(0.29 0.013 285.805);
    --ring: var(--color-blue-600);

    --navbar: oklch(0.17 0.006 285.885);
    --navbar-fg: var(--color-zinc-50);

    --sidebar: oklch(0.16 0.006 285.885);
    --sidebar-fg: var(--color-zinc-50);

    --chart-1: var(--color-blue-700);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-400);
    --chart-4: var(--color-blue-300);
    --chart-5: var(--color-blue-200);
  }
}

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/cera-pro/CeraPro-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/cera-pro/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/cera-pro/CeraPro-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/cera-pro/CeraPro-Thin.woff") format("woff");
  font-weight: 300;
  font-style: extralight;
}

body {
  font-family: "Cera Pro", sans-serif;
}

html {
  font-size: calc(0.625rem + 0.41666666666666663vw);
}
@media screen and (max-width: 1920px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
  }
}
@media screen and (max-width: 479px) {
  html {
    font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
  }
}
/*
---break---
*/
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}
/*
---break---
*/
.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}
/*
---break---
*/
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/*
---break---
*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
